div#landing-main-card-priority-container, div#landing-main-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width:100%;
}

div#landing-main-card-container {
  display:none;
}

a.card-link {
  text-decoration: none;
  color:var(--primary-text-2);
}

article.card {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  padding: 15px;
  position: relative;
  text-decoration: none;
}

img.card-cover {
  display: block;
  width:100%;
  height:300px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}

h5.card-title {
  display: block;
  font-size: 28px;
  color: var(--primary-text-1);
  margin:10px 0;
  font-weight: bold;
  font-family: Sukhumvit;
  text-decoration: none;
}

p.card-detail {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  color: var(--primary-text-2);
  font-family: 'Bai Jam Juree';
  line-height: 1.75em;
  text-decoration: none;
}

div.card-tag-container {
  display:block;
  width:100%;
  margin: 10px 0 10px 0;
}

a.card-tag {
  display:inline-block;
  font-size: 16px;
  color:var(--primary-text-3);
  margin:5px 10px;
  padding:5px;
  text-decoration: none;
  transition: color .2s ease-out;
  text-decoration: none;
}

a.card-tag:hover, a.card-tag:focus {
  color: var(--primary-text-1);
}

div.card-tag-container > a.card-tag:first-child {
  margin-left:0;
  padding-left:0;
}

@media screen and (min-width: 960px){
  div#landing-main-card-priority-container, div#landing-main-card-container {
    display:flex;
    width:unset;
    flex:1;
  }
  img.card-cover {
    height: 400px;
  }
}