@import '~stylus/colors'
@import '~stylus/fonts'

main#blog
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    width:100%
    padding: 0

article#blog-article
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    width: 100%
    margin:0 auto

#blog-section
    display: block
    width:100%
    margin:0 0 30px 0

#blog-cover
    display: block
    margin: 0 auto
    width: 100%
    object-fit: cover
    object-position: center

    & > .image-data
        width 100%
        height inherit

#blog-content
    display: block
    width:100%
    margin:30px 0 0  0
    padding 0

    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6,
    & > p,
    & > blockquote
        margin 30px 15px
        font-family detail-font

    & > h1,
    & > h2,
    & > h3
        margin-top 30px
        margin-bottom 30px
        line-height 1.25em

    & > h1,
    & > h2,
    & > h3
        margin-top 25px
        margin-bottom 25px
        line-height 1.25em

    & > h1
        font-size: 36px
        font-weight: bold
        font-family: title-font

    & > h2
        font-size: 32px
        font-weight: bold
        font-family: title-font

    & > h3
        font-size: 30px

    & > h4
        font-size: 28px

    & > h5
        font-size: 26px

    & > h6
        font-size: 24px

    & > p
        display: block
        font-weight: normal
        font-size: 20px
        line-height: 1.8em
        color: secondary-text
        cursor: default

    & > blockquote
        width calc(100% - 30px)
        padding 10px 15px
        border-radius 5px
        background-color: #efeff4
        overflow: hidden

        & > *
            margin 0
            color primary-text
            font-family Consolas
            white-space pre-wrap
            word-break break-word
            line-height 1.4em

    & > .blog-image-detail
        display block
        width 100%
        font-size: 18px
        color tertiary-text
        text-align center

    & > .blog-image
        display: block
        width: 100%
        margin:30px auto 10px auto
        background-color: preload

        & > .image-data
            width 100%
            height inherit
            object-fit: cover
            object-position: center

h1#blog-header
    display: block
    width: 100%
    font-size: 36px
    font-family: title-font
    font-weight: bold
    margin:30px 0 0px 0
    padding: 0 6.25%
    color: primary-text
    text-align: left
    cursor: default

time#publish-date
    display block
    margin 20px 0 20px 0
    padding: 0 6.25%
    cursor: default
    color secondary-text

aside#tag-container
    display: flex
    flex-direction: row
    width: 100%
    margin: 30px 0 10px 0
    font-size: 16px
    color: tertiary-text
    padding: 0 calc(6.25% - 8px)

    & > a.tag-link
        color: tertiary-text
        text-decoration: none
        outline: none

        & > h6.tag
            font-size: 16px
            color: tertiary-text
            margin: 0 5px
            padding: 5px 8px
            border-radius: 3px
            transition: background-color .2s ease-out
            background-color: rgba(0,0,0,.0375)    

#relate-card
    width 70%
    margin 20px auto 0 auto
    flex-direction column

@media screen and (max-width 567.9px)
    #relate-card
        width 100%
        margin 20px auto 0 auto
        flex-direction column

@media screen and (min-width: 769px)
    main#blog
        padding: 50px 0

    article#blog-article
        width: 740px

    time#publish-date
        padding 0 8px

    #blog-section
        h1#blog-header
            font-size: 48px
            padding: 0 8px

        aside#tag-container
            padding: 0

    #blog-content
        & > h1,
        & > h2,
        & > h3,
        & > h4,
        & > h5,
        & > h6,
        & > p,
            margin 0

        & > p
            padding: 0 8px

    #blog-cover
        margin:30px auto
        background-color preload

        & > .image-data
            width inherit
            height inherit
            object-fit: cover
            object-position: center

@media screen and (min-width: 568px) and (max-width: 767.9px)
    h1#blog-header
        font-size 42px
    
    #blog-content
        width 80%
        margin auto

@media screen and (min-width 1024px)
    h1#blog-header
        font-size 48px

    img#blog-cover
        margin-top 30px

    #relate-card
        display flex
        width 1020px
        margin 30px 0 0 0
        flex-direction row
        justify-content space-between
        align-items flex-start

    & > .relate
        & > .cover
            max-height 200px

            & > .image-data
                max-height 200px