@import '~stylus/colors'
@import '~stylus/fonts'

main#category
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    width: 100%
    padding: 30px 12.5%

aside#category-aside
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    padding: 15px 0

h1#aside-title
    display: block
    font-size: 50px
    color: primary-text
    margin: 0
    cursor: default

h6#aside-detail
    font-size: 21px
    line-height: 1.625em
    font-family: title-font
    margin: 30px 0
    padding: 0 0 0 8px
    cursor: default

div#aside-container
    display: block
    width: 100%
    padding: 5px 0

    &::after
        display: table-cell
        content: ""
        clear: both

    & > a.tag-link
        float: left
        display: inline-flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        width: 33.33%
        text-align: left
        color: secondary-text
        text-decoration: none
        padding: 8px
        border-radius: 3px
        outline: none

        & > h6.tag
            font-size: 16px
            margin:0
            color: secondary-text

        & > div.tag-underline
            display: block
            width: 0
            height: 2px
            background-color: tertiary-text
            transition: width .25s ease-out

        &:hover > h6.tag,
        &:focus > h6.tag
            color: primary-text

        &:hover > div.tag-underline,
        &:focus > div.tag-underline
            width: 100%

@media screen and (min-width: 1365.9px)
    main#category
        width: 720px
        margin-left: auto
        margin-right: calc(50% - (360px + 120px + 30px))
        padding: 83px 0 30px 0

    aside#category-aside
        width: 300px
        position: fixed
        left: calc(50% - (400px + 150px + 30px))

    h1#aside-title
        display: block
        width:100%
        text-align: left
        text-transform: uppercase
        letter-spacing: .0875em
        font-size: 36px
        margin: 0
        padding:0 0 0 8px
        font-family: title-font
        font-weight: bold
    
    h6#aside-detail
        font-size: 18px
        color: tertiary-text

    div#card-area
        flex-direction: row-reverse
        justify-content: space-between
        align-items: flex-start