@import '~stylus/colors'
@import '~stylus/fonts'

main#category
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    width: 100%
    padding: 30px 12.5%

aside#category-aside
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    padding: 15px 0

h1#category-title
    display: none
    cursor: default

h6#category-aside-detail
    font-size: 21px
    line-height: 1.625em
    font-family: title-font
    margin: 30px 0
    cursor: default

div#category-aside-container
    display: block
    width: 100%
    padding: 5px 0

    &::after
        display: table-cell
        content: ""
        clear: both

a.category-tag-link
    float: left
    display: block
    width: 33.33%
    text-align: center
    color: secondary-text
    text-decoration: none
    padding: 8px
    border-radius: 3px
    outline: none
    transition: background-color .25s ease-out

    &:hover,
    &:focus
        color: primary-text
        background-color: rgba(0, 0, 0, .0425)

@media screen and (min-width: 1365.9px)
    h1#category-title
        display: block
        width:100%
        text-align: left
        text-transform: uppercase
        letter-spacing: .1em
        font-size: 32px
        margin:0 0 15px 0
    
    h6#category-aside-detail
        font-size: 18px
        color: tertiary-text
    
    main#category
        width: 720px
        margin-left: auto
        margin-right: calc(50% - (360px + 120px + 30px))
        padding-left: 0
        padding-right: 0

    aside#category-aside
        width: 240px
        position: fixed
        left: calc(50% - (400px + 120px + 30px))

    div#card-area
        flex-direction: row-reverse
        justify-content: space-between
        align-items: flex-start