primary-text = #3c3c3c
secondary-text = #5a5a5a
tertiary-text = #666

primary-text-alter = #fff
secondary-text-alter = #ccc
tertiary-text-alter = #aaa

root-1 = #fff;
root-2 = #eee;
root-3 = #ddd;

alter-root-1 = #3c3c3c
alter-root-2 = #111
alter-root-3 = #222

nav = #3c3c3c
nav-interact = #3c3c3c

border = #ceced2
preload = #efeff4