:root {
  --primary-text-1: #3c3c3c;
  --primary-text-2: #5a5a5a;
  --primary-text-3: #666;

  --alter-text-1: #fff;
  --alter-text-2: #ccc;
  --alter-text-3: #aaa;

  --root-1: #fff;
  --root-2: #eee;
  --root-3: #ddd;

  --alter-root-1: #3c3c3c;
  --alter-root-2: #111;
  --alter-root-3: #222;

  --nav: #3c3c3c;
  --nav-interact: #3c3c3c;

  --border: #ceced2;
}

@font-face {
  font-family: Sukhumvit;
  src: url('/static/fonts/Sukhumvit-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Bai Jam Juree';
  src: url('/static/fonts/BaiJamjuree-Regular.ttf') format('truetype');
  font-display: swap;
}

html, body {
  overflow-x: hidden;
}

body {
  margin:0;
  background-color: #f9fafc;
}

* { 
  font-family: 'Bai Jamjuree', Roboto, 'Segoe UI', Helvetica, Tahoma, Geneva, Verdana, sans-serif; 
  font-weight: 400;
  box-sizing: border-box;
}

::selection, ::-webkit-selection {
  background-color: rgba(0,123,255,.25);
}

#__next {
  overflow-y:hidden;
}