@import '~stylus/fonts'
@import '~stylus/colors'

div#slider
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	width: 100%
	height: 100vh
	margin: 0
	padding: 0

div.slider-detail
	& > h2.title
		display:block
		margin:0
		white-space: nowrap
		font-size 24px
		text-align: center
		font-family: title-font
		font-weight: bold
		color: primary-text-alter
		text-overflow: ellipsis
	
		&.is-active 
			font-size: 72px
			white-space: pre-wrap
			text-overflow: unset
			color primary-text-alter
			padding-left: 30px
			padding-right: 30px
	
	& > p.detail 
		color: secondary-text-alter
		font-size: 24px
		margin 0 0 30px 0
		line-height: 1.75em
		letter-spacing: 1px

	& > .read
		appearance: none
		-webkit-appearance: none
		display: block
		padding 10px 35px
		color primary-text-alter
		font-size 24px
		text-decoration none
		border 0
		background-color transparent
		border 2px solid primary-text-alter

@media screen and (min-width: 568px)
	div#slider
		flex-direction: row

	button.slider-panel 
		width: unset
		min-width: 75px
		min-height: unset
		height: 100vh

	div.slider-detail
		transform: rotate(90deg)
		height: 75px
		width: 100vh
		align-items: flex-end
		padding-right: 50px

		&.is-active
			transform: unset
			height: 100%
			width: 100%
			align-items: flex-start
			padding-left: 7%
			padding-right: 5%
			transition: unset

		&.is-not-active
			transition: height 0.29s ease-in

		& > h2.title
			&.is-active
				text-align: left
				padding-left: 0px
				padding-right: 0px

		& > p.detail 
			display: block
			width: 100%
			padding-right: 25%
			text-align: left
			line-height: 2em

@media screen and (max-width: 767.9px)
	button.slider-panel
		div.slider-detail
			& > h2.title
				font-size 24px

				&.is-active
					font-size 48px

@media screen and (max-width: 567.9px)
	button.slider-panel
		div.slider-detail
			p.detail
				padding 0 5%
				margin 30px 0
				font-size 18px

			& > .read
				font-size 18px
				padding 8px 25px