@import '~stylus/colors'

nav#navbar
  position: absolute
  z-index: 3000
  display:flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  height: auto
  transition: width 0.325s ease-out

  &.is-sticky
    position:fixed
    top:0

div#navbar-wrapper
  display:flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  width:100%
  height: 58px
  padding:0 5px
  overflow:hidden
  background-color: root-1
  border-bottom:1px solid border

button#navbar-icon
  position: relative
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none
  border:0
  background-color: transparent
  display:flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  width: 58px
  height: 58px
  padding:0 10px
  outline:none
  cursor:pointer

  &:hover > div.navbar-icon-line,
  &:focus > div.navbar-icon-line
    background-color: nav-interact

  &.is-active
    justify-content: center

    & > div.navbar-icon-line
      margin-top:0 !important

    & > div#line-1,
    & > div#line-3
      transform: rotate(45deg)

    & > div#line-2
      transform: rotate(-45deg)

div.navbar-icon-line
  width: 20px
  height: 2px
  background-color: nav
  position:absolute
  transition: transform .325s ease-in, background-color .325s ease-out

div#line-1 
  margin-top: 21px 

div#line-2 
  margin-top: 29px 

div#line-3 
  margin-top: 37px 

h1#navbar-title
  font-size: 24px
  font-family: "Lora"
  font-style: italic
  font-weight: 1
  letter-spacing: 1.5px
  color: tertiary-text
  margin: 0 15px 0 0
  cursor:default
  animation: landing-sticky-content-fade-in .25s ease-out

div#navbar-placeholder
  display: block
  height: 58px
  opacity: 0

button#search-button
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none
  display:flex
  justify-content: center
  align-content: center
  border:0
  background-color: transparent
  width:58px
  height:58px
  outline:none
  animation: landing-sticky-content-fade-in .25s ease-out
  cursor: pointer

  &:hover > svg > #search-icon,
  &:focus > svg > #search-icon
    fill: nav-interact

#search-icon
  width: 28px
  height: 28px
  fill: nav
  transition: fill .25s ease-out

div#navbar-overlay
  display:none
  right: 100
  animation: overlay-display-delay .325s ease-out 0s 1

@keyframes landing-sticky-content-fade-in
  from 
    opacity:0 
    margin-right: 15px 

@keyframes overlay-display-delay
  from
    right: 0
  
  to
    right: 0

@media screen and (min-width: 768px)
  nav#navbar
    padding-top: 50px
    width: 100px
    right: 24px

    &.is-active
      right:0
      width: 550px
      background-color: root-1
      padding-left: 50px
      transition: width 0.325s ease-out, background-color .325s ease-out

      & > div#navbar-wrapper
        flex-direction: row
        justify-content: space-between
        height: unset
        padding-right: 30px
  
  div#navbar-wrapper
    flex-direction: column
    background-color: transparent
    justify-content: flex-start
    border:0
    height: 230px

  button#navbar-icon

    &:hover > div.navbar-icon-line#line-1,
    &:focus > div.navbar-icon-line#line-1
      animation: interact-rotate-1 .375s ease-out 0s 1

    &:hover > div.navbar-icon-line#line-2,
    &:focus > div.navbar-icon-line#line-2
      animation: interact-rotate-2 .375s ease-out 0s 1

    &:hover > div.navbar-icon-line#line-3,
    &:focus > div.navbar-icon-line#line-3
      animation: interact-rotate-3 .375s ease-out 0s 1

    &.is-active:hover > div.navbar-icon-line#line-1,
    &.is-active:focus > div.navbar-icon-line#line-1
      animation: unset

    &.is-active:hover > div.navbar-icon-line#line-2,
    &.is-active:focus > div.navbar-icon-line#line-2
      animation: unset

    &.is-active:hover > div.navbar-icon-line#line-3,
    &.is-active:focus > div.navbar-icon-line#line-3
      animation: unset
 
  @keyframes interact-rotate-1
    0%
      transform: rotate(0deg)
      background-color: nav

    70%
      transform: rotate(180deg)
      background-color: nav
      
    100%
      transform: rotate(180deg)
      background-color: nav-interact

  @keyframes interact-rotate-2
    10%
      transform: rotate(0deg)
      background-color: nav

    80%
        transform: rotate(180deg)
        background-color: nav

    100%
      transform: rotate(180deg)
      background-color: nav-interact

  @keyframes interact-rotate-3
    20%
      transform: rotate(0deg)
      background-color: nav

    90%
      transform: rotate(180deg)
      background-color: nav
    
    100%
      transform: rotate(180deg) 
      background-color: nav-interact

  h1#navbar-title
    transform: rotate(90deg)
    margin-right:0
    margin: 64px 3px 0 0
    white-space: nowrap
    display: inline
    color: nav
  
  div#navbar-panel
    background-color: transparent
    padding-left: 50px

    &.is-active
      transition: unset
  
  div#navbar-overlay
    display: block
    position: fixed
    z-index: -2800
    top:0
    left:0
    right:unset
    width:100%
    height:100vh
    background-color: transparent
    transition: background-color .325s ease-out
  
    &.is-active
      z-index: 2800
      background-color: rgba(0,0,0,.25)

  div#navbar-placeholder
    display: none

  /* navbar-panel.styl */
  a#navbar-panel > .link
    font-size: 18px