:root {
    --primary: #002bbf;
    --primary-fade: #002bbf75;

    --link: #007aff;

    --header: #000;
    --sub-header: #222;
    --text: #444;
    --unimportant-text: #888;

    --background: #f9fafc;
    --background-bright: #fff;

    --gradient: linear-gradient(0deg, #002b6f 0%, #081b6b80 50%, #fff0 100%);
    --gradient-half: linear-gradient(0deg, #002b6f 0%, #081b6b80 25%, #fff0 50%);
}

body {
    margin:0;
    width:100%;
    background-color: var(--background);
}

* { box-sizing: border-box; font-family: Helvetica; }

::selection, ::-webkit-selection {
    background-color: rgba(0,123,255,.25);
}

a {
    text-decoration: none;
    color: var(--link);
}