div#landing-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100vh;
  margin:0;
  padding:0;
}

@media screen and (min-width: 238px){
  h1.landing-slide-title {
    font-family: Sukhumvit;
    font-size: 30px;
  }

  h1.landing-slide-title.is-active {
    font-size: 45px;
  }


  p.landing-slide-detail {
    font-size: 16px;
    line-height: 1.75em;
    letter-spacing: 1px;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}

@media screen and (min-width: 568px){
  
  h1.landing-slide-title {
    font-size: 30px;
  }

  h1.landing-slide-title.is-active {
    font-size: 50px;
  }

  p.landing-slide-detail {
    font-size: 16px;
    line-height: 2em;
    margin-left: 0em;
    margin-right: 0em;
  }
  
  div#landing-slide {
    flex-direction: row;
  }

  button.landing-slide-panel {
    width: unset;
    min-width: 75px;
    min-height: unset;
    height: 100vh;
  }

  div.landing-slide-detail {
    transform:rotate(90deg);
    height: 75px;
    width:100vh;
    align-items: flex-end;
    padding-right: 50px;
  }

  div.landing-slide-detail.is-active {
    transform: unset;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    padding-left: 7%;
    padding-right:5%;
    transition: unset
  }

  div.landing-slide-detail.is-not-active {
    transition: height .29s ease-in;
  }
  
  h2.landing-slide-title.is-active {
    font-size: 42px;
    text-align: left;
  }

  p.landing-slide-detail {
    display:block;
    width:100%;
    margin-top: 15px;
    padding-right: 25%;
    font-size: 16px;
    text-align: left;
  }
}

@media screen and (min-width: 768px){
  h2.landing-slide-title.is-active {
    font-size: 55px;
  }

  p.landing-slide-detail {
    font-size: 18px;
    line-height: 2em;
  }
}