@import '~stylus/colors'
@import '~stylus/fonts'

h3.heading
  display: block
  width:100%
  text-align: center
  font-family: title-font
  font-size: 36px
  font-weight: bold
  margin:30px 0 15px 0
  color: primary-text
  cursor: default

div.adaptable
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  & > div.heading-line
    display:none

@media screen and (min-width: 960px)
  div.adaptable > h3.heading
    transform: rotate(90deg)
    margin:150px 15px 50px 15px
  
  div.adaptable > div.heading-line
    display: inline-block
    width: 2px
    height:200px
    background-color: primary-text
    margin:15px 0 0 0