@import '~stylus/colors'
@import '~stylus/fonts'

#relate-card
	a.link
		text-decoration: none
		display:flex
		flex 1
		padding 15px
		position: relative
		text-decoration: none

article.relate
	display:flex
	width 100%
	flex-direction: column
	justify-content: flex-start
	align-items: center
	position: relative

	& > figure.cover
		display: block
		width:100%
		height:300px
		margin-bottom: 20px
		background-color: preload

		& > .image-data
			width inherit
			height inherit
			object-fit: cover
			object-position: center

	& > h5.title
		display: block
		font-size: 28px
		color: primary-text
		margin:10px 0
		font-weight: bold
		font-family: title-font
		text-decoration: none

	& > p.detail
		display: block
		width 100%
		margin: 10px 0
		padding: 0
		font-size: 18px
		color: secondary-text
		font-family: detail-font
		line-height: 1.75em
		text-decoration: none

div.tag-container
	display:block
	width:100%
	margin: 10px 0 10px 0

	& > a.tag:first-child
		margin-left:0

	& > a.tag
		display:inline-block
		font-size: 16px
		color: primary-text
		margin:5px 10px
		padding:3px 8px
		text-decoration: none
		background-color: rgba(0,0,0,.0425)
		border-radius: 3px
		transition: color .2s ease-out, background-color .2s ease-out